body {
    background: linear-gradient(135deg, #F3E5AB, #D4AF37, #C68B59, #8B4513);
    min-height: 100dvh;
}

.title1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(240, 255, 240, 0.241);
}


.caption {
    margin-top: 0px;
    color: rgb(127, 9, 246);
    font-size: 10px;
    text-align: center;
}

.challenge-title {
    color: red;
    font-size: 2rem;
    text-align: left;
}

.timer {

}
